In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2.0.1)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

a. Utiliza un Jupyter Notebook y el paquete Pandas para abrir el archivo y 
presentarlo  en  formato  DataFrame,  donde  el  nombre  de  las  columnas 
debe  corresponder  con  el  nombre  real  de  las  variables.  Señala  qué 
variables del DataFrame presentan valores faltantes (missing values).

R: Los valores faltantes en el DataFrame se presentan en con el símbolo "?".

In [2]:
import pandas as pd

# Define the path to the dataset
file_path = 'census+income/adult.data'

# Define the column names based on the dataset description
column_names = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 
    'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
    'hours-per-week', 'native-country', 'income'
]

# Read the dataset into a pandas DataFrame with specified encoding
df = pd.read_csv(file_path, names=column_names, header=None, encoding='latin1', na_values='?')

# Display the first few rows of the DataFrame
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

b. Analizando el DataFrame, señala las variables numéricas y categóricas, 
especificando si son continuas, discretas, ordinales o nominales.

In [3]:
# Classify the variables
variable_types = {}

# Numerical variables
numerical_columns = df.select_dtypes(include=['int64', 'float64'])
for column in numerical_columns.columns:
    unique_values = numerical_columns[column].nunique()
    if unique_values > 10:
        variable_types[column] = 'continua'
    else:
        variable_types[column] = 'discreta'

# Categorical variables
categorical_columns = df.select_dtypes(include=['object'])
for column in categorical_columns.columns:
    unique_values = categorical_columns[column].nunique()
    if unique_values > 10:
        variable_types[column] = 'nominal'
    else:
        variable_types[column] = 'ordinal'

# Print the variable types
for column, variable_type in variable_types.items():
    print(f"{column}: {variable_type}")

age: continua
fnlwgt: continua
education-num: continua
capital-gain: continua
capital-loss: continua
hours-per-week: continua
workclass: ordinal
education: nominal
marital-status: ordinal
occupation: nominal
relationship: ordinal
race: ordinal
sex: ordinal
native-country: nominal
income: ordinal

c. Utilizando  métodos  de  Python,  deduce  si  hay  registros  repetidos  en  el 
dataset.  ¿Cuántos  elementos  hay  en  el  DataFrame  original?  ¿Cuántos 
elementos repetidos hay? ¿Cuántos elementos únicos?

In [4]:
# Check for duplicate records
duplicate_records = df.duplicated()

# Number of original elements
original_elements = len(df)

# Number of duplicate elements
duplicate_elements = duplicate_records.sum()

# Number of unique elements
unique_elements = original_elements - duplicate_elements

# Print the results
print(f"Number of original elements: {original_elements}")
print(f"Number of duplicate elements: {duplicate_elements}")
print(f"Number of unique elements: {unique_elements}")

Number of original elements: 32561
Number of duplicate elements: 24
Number of unique elements: 32537

e. Utilizando métodos de Python, obtén un DataFrame llamado df_dup en 
el que estén los elementos repetidos del DataFrame original. ¿Cuántos de 
ellos  tienen  un  país  de  origen  indeterminado?  ¿Cuál  es  la  proporción 
entre mujeres y hombres? ¿Cuántos cobran más de 50 mil dólares?

In [5]:
# Get the duplicated records
df_dup = df[df.duplicated()]

# Number of duplicated records with an indeterminate country of origin
indeterminate_country_count = df_dup[df_dup['native-country'].isna()].shape[0]

# Proportion between women and men
gender_proportion = df_dup['sex'].value_counts(normalize=True)

# Number of duplicated records with income greater than 50K
high_income_count = df_dup[df_dup['income'] == ' >50K'].shape[0]

# Print the results
print(f"Number of duplicated records with an indeterminate country of origin: {indeterminate_country_count}")
print(f"Proportion between women and men:\n{gender_proportion}")
print(f"Number of duplicated records with income greater than 50K: {high_income_count}")

Number of duplicated records with an indeterminate country of origin: 0
Proportion between women and men:
sex
Male      0.625
Female    0.375
Name: proportion, dtype: float64
Number of duplicated records with income greater than 50K: 2

f. Busca en internet el significado de la variable “fnlwgt”. ¿Qué representa? 
Conociendo su significado, ¿crees que tiene sentido, desde un punto de 
vista  de  Machine  Learning,  eliminar  los  registros  duplicados  en  este 
dataset?

La variable fnlwgt (final weight) es una variable utilizada en el conjunto de datos del censo para indicar el número de personas en la población que cada registro representa. Es un peso calculado por la Oficina del Censo de los Estados Unidos para ajustar la muestra del censo a la población total.

Significado de fnlwgt
fnlwgt representa el peso final de la muestra, que se utiliza para hacer inferencias sobre la población total a partir de la muestra del censo. Este peso se calcula teniendo en cuenta varios factores, como la probabilidad de selección, ajustes por no respuesta y ajustes para que las estimaciones coincidan con las poblaciones conocidas.

Consideraciones para eliminar registros duplicados
Desde un punto de vista de Machine Learning, eliminar registros duplicados puede ser problemático si no se considera adecuadamente el significado de fnlwgt. Dado que fnlwgt ajusta la muestra para representar la población total, eliminar registros duplicados sin ajustar los pesos puede sesgar los resultados.

Conclusión
Eliminar registros duplicados en este dataset puede no ser apropiado sin un análisis cuidadoso. En lugar de eliminar duplicados, podrías considerar ajustar los pesos (fnlwgt) para reflejar correctamente la población representada por los registros duplicados.

In [6]:
# Check for duplicate records
duplicate_records = df.duplicated()

# Number of original elements
original_elements = len(df)

# Number of duplicate elements
duplicate_elements = duplicate_records.sum()

# Number of unique elements
unique_elements = original_elements - duplicate_elements

# Get the duplicated records
df_dup = df[df.duplicated()]

# Number of duplicated records with an indeterminate country of origin
indeterminate_country_count = df_dup[df_dup['native-country'].isna()].shape[0]

# Proportion between women and men
gender_proportion = df_dup['sex'].value_counts(normalize=True)

# Number of duplicated records with income greater than 50K
high_income_count = df_dup[df_dup['income'] == ' >50K'].shape[0]

# Print the results
print(f"Number of original elements: {original_elements}")
print(f"Number of duplicate elements: {duplicate_elements}")
print(f"Number of unique elements: {unique_elements}")
print(f"Number of duplicated records with an indeterminate country of origin: {indeterminate_country_count}")
print(f"Proportion between women and men:\n{gender_proportion}")
print(f"Number of duplicated records with income greater than 50K: {high_income_count}")

Number of original elements: 32561
Number of duplicate elements: 24
Number of unique elements: 32537
Number of duplicated records with an indeterminate country of origin: 0
Proportion between women and men:
sex
Male      0.625
Female    0.375
Name: proportion, dtype: float64
Number of duplicated records with income greater than 50K: 2

g. ¿Qué  dificultades has encontrado a la hora de  trabajar  con los  valores 
de las variables de este dataset? ¿Sería apropiado buscar  una manera 
automática,  usando  métodos  de  Python,  de  eliminar  esa  dificultad  o 
dificultades?  ¿Se  te  ocurre  cómo  hacerlo?  (En  este  apartado  no  hace 
falta escribir código, basta con responder en texto detallando las ideas).

### Dificultades al trabajar con los valores de las variables del dataset

1. **Valores faltantes**:
   - Algunas variables pueden tener valores faltantes representados por `?` o `NaN`.
   - Esto puede afectar el análisis y los modelos de Machine Learning si no se manejan adecuadamente.

2. **Valores categóricos**:
   - Las variables categóricas pueden tener muchas categorías diferentes, lo que puede complicar su codificación.
   - Algunas categorías pueden estar mal etiquetadas o tener errores tipográficos.

3. **Valores atípicos**:
   - Algunas variables numéricas pueden tener valores atípicos que pueden distorsionar el análisis y los modelos.

4. **Duplicados**:
   - La presencia de registros duplicados puede sesgar los resultados si no se manejan correctamente.

5. **Escalado de variables**:
   - Las variables numéricas pueden tener diferentes escalas, lo que puede afectar los algoritmos de Machine Learning que son sensibles a la escala.

### Métodos automáticos para eliminar dificultades

1. **Manejo de valores faltantes**:
   - Usar métodos de imputación para rellenar los valores faltantes, como la media, mediana o el valor más frecuente.
   - Alternativamente, eliminar los registros con valores faltantes si la proporción es pequeña.

2. **Codificación de valores categóricos**:
   - Utilizar técnicas de codificación como One-Hot Encoding para variables categóricas nominales.
   - Para variables ordinales, usar Ordinal Encoding.
   - Detectar y corregir errores tipográficos en las categorías.

3. **Detección y manejo de valores atípicos**:
   - Utilizar métodos estadísticos o algoritmos de detección de anomalías para identificar y manejar valores atípicos.
   - Transformar los datos para reducir el impacto de los valores atípicos.

4. **Manejo de duplicados**:
   - Identificar y eliminar registros duplicados, asegurándose de ajustar los pesos (`fnlwgt`) si es necesario.

5. **Escalado de variables**:
   - Normalizar o estandarizar las variables numéricas para que tengan una escala comparable.

### Ideas para implementar en Python

- **Valores faltantes**: Usar `df.fillna()` o `SimpleImputer` de `sklearn` para imputar valores faltantes.
- **Codificación de valores categóricos**: Usar `pd.get_dummies()` para One-Hot Encoding o `OrdinalEncoder` de `sklearn`.
- **Detección de valores atípicos**: Usar el método `z-score` o `IsolationForest` de `sklearn` para detectar y manejar valores atípicos.
- **Manejo de duplicados**: Usar `df.drop_duplicates()` para eliminar duplicados y ajustar `fnlwgt` si es necesario.
- **Escalado de variables**: Usar `StandardScaler` o `MinMaxScaler` de `sklearn` para normalizar o estandarizar las variables.

Implementar estos métodos automáticos en Python puede ayudar a eliminar las dificultades y mejorar la calidad del análisis y los modelos de Machine Learning.