# Ejercicio 1: heart+disease

Instala los paquetes necesarios

In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2.0.1)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

a. Utiliza un Jupyter Notebook y el paquete Pandas para abrir el archivo y 
presentarlo  en  formato  DataFrame,  donde  el  nombre  de  las  columnas 
debe corresponder con el nombre real de las variables.

In [2]:
import pandas as pd

# Define el path al dataset
file_path = 'heart+disease/processed.switzerland.data'

# Define las columnas según orden
column_names = [
    'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 
    'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'
]

# Carga el dataset a un pandas dataframe especificando el encoding y los valores nulos "?" (nulos relacionados con la pregunta d)
df = pd.read_csv(file_path, names=column_names, header=None,  encoding='latin1', na_values='?')

# Muestra algunas filas 
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,32,1,1,95.0,0,NaN,0.0,127.0,0.0,0.7,1.0,NaN,NaN,1
1,34,1,4,115.0,0,NaN,NaN,154.0,0.0,0.2,1.0,NaN,NaN,1
2,35,1,4,NaN,0,NaN,0.0,130.0,1.0,NaN,NaN,NaN,7.0,3
3,36,1,4,110.0,0,NaN,0.0,125.0,1.0,1.0,2.0,NaN,6.0,1
4,38,0,4,105.0,0,NaN,0.0,166.0,0.0,2.8,1.0,NaN,NaN,2

b. Analizando el DataFrame, señala las variables numéricas. Entre las 
variables numéricas señala cuáles son continuas y cuáles discretas.

In [3]:
# Obten variables numericas
numeric_columns = df.select_dtypes(include=['int64', 'float64'])

# Determina si son continuas o discretas, 
# basados en la suposición que si tiene más de 10 valores únicos, es continua
variable_types = {}
for column in numeric_columns.columns:
    unique_values = numeric_columns[column].nunique()
    if unique_values > 10:
        variable_types[column] = 'continua'
    else:
        variable_types[column] = 'discreta'

# Imprime el resultado
for column, variable_type in variable_types.items():
    print(f"{column}: {variable_type}")

# Resultados esperados
expected_results = {
    'age': 'continua',       # Edad puede tomar muchos valores diferentes
    'sex': 'discreta',       # Sexo típicamente tiene dos valores (0 y 1)
    'cp': 'discreta',        # Tipo de dolor en el pecho con un número limitado de categorías
    'trestbps': 'continua',  # Presión arterial en reposo puede tomar muchos valores diferentes
    'chol': 'continua',      # Colesterol puede tomar muchos valores diferentes
    'fbs': 'discreta',       # Azúcar en sangre en ayunas (sí/no)
    'restecg': 'discreta',   # Resultados del electrocardiograma en reposo
    'thalach': 'continua',   # Frecuencia cardíaca máxima alcanzada puede tomar muchos valores diferentes
    'exang': 'discreta',     # Angina inducida por ejercicio (sí/no)
    'oldpeak': 'continua',   # Depresión del ST puede tomar muchos valores diferentes
    'slope': 'discreta',     # Pendiente del segmento ST tiene un número limitado de categorías
    'ca': 'discreta',        # Número de vasos coloreados tiene un número limitado de categorías
    'thal': 'discreta',      # Talasemia representa categorías
    'num': 'discreta'        # Diagnóstico de enfermedad cardíaca con un número limitado de categorías
}

# Imprime los resultados esperados
print("\nResultados esperados:")
for column, variable_type in expected_results.items():
    print(f"{column}: {variable_type}")

age: continua
sex: discreta
cp: discreta
trestbps: continua
chol: discreta
fbs: discreta
restecg: discreta
thalach: continua
exang: discreta
oldpeak: continua
slope: discreta
ca: discreta
thal: discreta
num: discreta

Resultados esperados:
age: continua
sex: discreta
cp: discreta
trestbps: continua
chol: continua
fbs: discreta
restecg: discreta
thalach: continua
exang: discreta
oldpeak: continua
slope: discreta
ca: discreta
thal: discreta
num: discreta

c. Analizando  el  DataFrame,  señala  las  variables  categóricas.  Entre  las 
variables categóricas señala cuáles son ordinales y cuáles nominales

In [4]:
# Selecciona variables categoricas
categorical_columns = df[['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'num']]

# Clasificación manual de las variables
variable_types = {
    'sex': 'nominal',       # Sexo es una variable nominal
    'cp': 'ordinal',        # Tipo de dolor en el pecho (ordinal)
    'fbs': 'nominal',       # Azúcar en sangre en ayunas (nominal)
    'restecg': 'nominal',   # Resultados del electrocardiograma en reposo (nominal)
    'exang': 'nominal',     # Angina inducida por ejercicio (nominal)
    'slope': 'ordinal',     # Pendiente del segmento ST (ordinal)
    'ca': 'ordinal',        # Número de vasos principales coloreados por fluoroscopia (ordinal)
    'thal': 'ordinal',      # Talasemia (ordinal)
    'num': 'ordinal'        # Diagnóstico de enfermedad cardíaca (ordinal)
}

# Imprime el resultado
for column, variable_type in variable_types.items():
    print(f"{column}: {variable_type}")

sex: nominal
cp: ordinal
fbs: nominal
restecg: nominal
exang: nominal
slope: ordinal
ca: ordinal
thal: ordinal
num: ordinal

d. ¿Hay  valores  faltantes  (missing  values)  en  el  dataset?  ¿Qué  símbolo  se 
utiliza para marcarlos? ¿Se utiliza más de un tipo de símbolo?

R: 

Hay bastantes nulos en varias columnas, y el dataset usa '?' para representar los nulos. Por el momento no he identificado otro símbolo para representar los nulos.

He solicitado a pandas que los tome como nulos al leer el archivo con el argumento na_values='?',
por lo que pandas los toma como nulos y los cuenta en el método isnull(). 

He aquí el conteo de nulos por columna:

In [5]:

print(df.isnull().sum())

age           0
sex           0
cp            0
trestbps      2
chol          0
fbs          75
restecg       1
thalach       1
exang         1
oldpeak       6
slope        17
ca          118
thal         52
num           0
dtype: int64

e. Utilizando  métodos  de  Python,  obtén  la  lista  de  valores  posibles  que 
puede tomar la variable “thal”. ¿Se pueden ordenar estos valores en una 
escala de mayor a menor? ¿Podríamos considerarlos valores categóricos 
ordinales?

In [6]:
# Obtener los valores únicos de la columna 'thal'
thal_values = df['thal'].unique()

# Imprimir los valores únicos
print("Valores únicos de 'thal':", thal_values)

# Verificar si los valores pueden ser ordenados
sorted_thal_values = sorted(thal_values)
print("Valores ordenados de 'thal':", sorted_thal_values)

# Determinar si pueden ser considerados ordinales
# Talasemia es un trastorno sanguíneo con valores específicos:
# 3 = normal, 6 = defecto fijo, 7 = defecto reversible
# Estos valores pueden ser considerados ordinales
ordinal_possible = True  # Basado en el conocimiento del dominio

print("¿Pueden los valores de 'thal' ser considerados valores categóricos ordinales?", ordinal_possible)

Valores únicos de 'thal': [nan  7.  6.  3.]
Valores ordenados de 'thal': [np.float64(nan), np.float64(3.0), np.float64(6.0), np.float64(7.0)]
¿Pueden los valores de 'thal' ser considerados valores categóricos ordinales? True