Estructuras y formato de los datos

Instala los paquetes necesarios para leer los datos y visualizarlos.

In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2.0.1)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

a. Utiliza un Jupyter Notebook y el paquete Pandas para abrir el archivo y 
presentarlo  en  formato  DataFrame,  donde  el  nombre  de  las  columnas 
debe corresponder con el nombre real de las variables.

In [2]:
import pandas as pd

# Define the path to the dataset
file_path = 'heart+disease/processed.switzerland.data'

# Define the column names based on the dataset description
column_names = [
    'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 
    'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'
]

# Read the dataset into a pandas DataFrame with specified encoding
df = pd.read_csv(file_path, names=column_names, header=None,  encoding='latin1', na_values='?')

# Display the first few rows of the DataFrame
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,32,1,1,95.0,0,NaN,0.0,127.0,0.0,0.7,1.0,NaN,NaN,1
1,34,1,4,115.0,0,NaN,NaN,154.0,0.0,0.2,1.0,NaN,NaN,1
2,35,1,4,NaN,0,NaN,0.0,130.0,1.0,NaN,NaN,NaN,7.0,3
3,36,1,4,110.0,0,NaN,0.0,125.0,1.0,1.0,2.0,NaN,6.0,1
4,38,0,4,105.0,0,NaN,0.0,166.0,0.0,2.8,1.0,NaN,NaN,2

b. Analizando el DataFrame, señala las variables numéricas. Entre las 
variables numéricas señala cuáles son continuas y cuáles discretas.

In [3]:
# Get the numeric columns
numeric_columns = df.select_dtypes(include=['int64', 'float64'])

# Determine if the numeric columns are continuous or discrete
variable_types = {}
for column in numeric_columns.columns:
    unique_values = numeric_columns[column].nunique()
    if unique_values > 10:
        variable_types[column] = 'continua'
    else:
        variable_types[column] = 'discreta'

# Print the variable types
for column, variable_type in variable_types.items():
    print(f"{column}: {variable_type}")

age: continua
sex: discreta
cp: discreta
trestbps: continua
chol: discreta
fbs: discreta
restecg: discreta
thalach: continua
exang: discreta
oldpeak: continua
slope: discreta
ca: discreta
thal: discreta
num: discreta

c. Analizando  el  DataFrame,  señala  las  variables  categóricas.  Entre  las 
variables categóricas señala cuáles son ordinales y cuáles nominales

In [4]:
# Select the categorical columns
categorical_columns = df[['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'num']]

# Determine if the categorical columns are ordinal or nominal
variable_types = {}
for column in categorical_columns.columns:
    unique_values = categorical_columns[column].nunique()
    if unique_values > 10:
        variable_types[column] = 'nominal'
    else:
        variable_types[column] = 'ordinal'

# Print the variable types
for column, variable_type in variable_types.items():
    print(f"{column}: {variable_type}")

sex: ordinal
cp: ordinal
fbs: ordinal
restecg: ordinal
exang: ordinal
slope: ordinal
ca: ordinal
thal: ordinal
num: ordinal

d. ¿Hay  valores  faltantes  (missing  values)  en  el  dataset?  ¿Qué  símbolo  se 
utiliza para marcarlos? ¿Se utiliza más de un tipo de símbolo?

R: 

Hay bastantes en varias columnas y el dataset usa '?' para representar los nulos. Por el momento no se he identificado otro símbolo para representar los nulos.

He solicitado a pandas que los tome como nulos al leer el archivo con el argumento na_values='?',
por lo que pandas los toma como nulos y los cuenta en el método isnull(). 

He aquí el conteo de nulos por columna:

In [5]:

print(df.isnull().sum())

age           0
sex           0
cp            0
trestbps      2
chol          0
fbs          75
restecg       1
thalach       1
exang         1
oldpeak       6
slope        17
ca          118
thal         52
num           0
dtype: int64

e. Utilizando  métodos  de  Python,  obtén  la  lista  de  valores  posibles  que 
puede tomar la variable “thal”. ¿Se pueden ordenar estos valores en una 
escala de mayor a menor? ¿Podríamos considerarlos valores categóricos 
ordinales?

In [6]:
# Get the unique values of the 'thal' column
thal_values = df['thal'].unique()

# Print the unique values
print("Unique values of 'thal':", thal_values)

# Check if the values can be ordered
sorted_thal_values = sorted(thal_values)
print("Sorted values of 'thal':", sorted_thal_values)

# Determine if they can be considered ordinal
# This is a domain-specific question, but let's assume we have some knowledge about the 'thal' values
# For example, if 'thal' values are ['normal', 'fixed defect', 'reversible defect'], they can be considered ordinal
ordinal_possible = True  # Set this based on your domain knowledge

print("Can 'thal' values be considered ordinal categorical values?", ordinal_possible)

Unique values of 'thal': [nan  7.  6.  3.]
Sorted values of 'thal': [np.float64(nan), np.float64(3.0), np.float64(6.0), np.float64(7.0)]
Can 'thal' values be considered ordinal categorical values? True

In [7]:
# ! pip install ucimlrepo

In [8]:
# from ucimlrepo import fetch_ucirepo 
  
# # fetch dataset 
# heart_disease = fetch_ucirepo(id=45) 
  
# # data (as pandas dataframes) 
# X = heart_disease.data.features 
# y = heart_disease.data.targets 
  
# # metadata 
# print(heart_disease.metadata) 
  
# # variable information 
# print(heart_disease.variables) 

# print(heart_disease.data)